@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Poppins", sans-serif;
}

/*Style untuk navbar*/

#navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  min-height: 50px;
}

.nav-kanan {
  display: flex;
  align-items: center;
  justify-content: center;
}

.nav-link {
  padding: 16px;
  font-family: "Poppins", sans-serif;
  font-size: 1.125rem;
  line-height: 1.4em;
  font-weight: 500;
  position: relative;
  display: inline-block;
  vertical-align: top;
  text-decoration: none;
  color: #222;
  padding: 20px;
  text-align: left;
  margin-left: auto;
  margin-right: auto;
  color: black;
  transition: all 0.8s ease-in-out;
}

.nav-link:hover {
  color: white;
}

/*menerapkan style untuk logo container*/
.logo {
  width: 71px;
  height: 32px;
  -o-object-fit: contain;
  object-fit: contain;
  -o-object-position: 0% 50%;
  object-position: 0% 50%;
  margin-left: 20px;
}

img {
  border: 0;
  max-width: 100%;
  vertical-align: middle;
  display: inline-block;
}

/*Style untuk welcome section*/
#welcome-section {
  display: flex;
  height: 100vh;
  width: 100%;
  margin: auto;
  /*background-image: radial-gradient(circle farthest-corner at 0 0, #e7e4dc, #9d9e86);*/
  color: black;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  z-index: -1;
}

/*style untuk project section*/
#work {
  /*scroll-margin-top: 20px;*/
  margin-top: auto;
  padding: 20px 5px;
  text-align: center;
}
#work p {
  padding: 20px 0px;
}
#projects-tile-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(320px, 1fr));
  grid-gap: 40px;
  width: 100%;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: 60px;
}
.project-tile {
  background: gray;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
  border-radius: 2px;
}
.project-image {
  height: calc(100% - 68px);
  width: 100%;
  object-fit: cover;
}
/*Style untuk contact section*/
#contact {
  text-align: center;
  height: 100vh;
  justify-content: center;
  display: flex;
  flex-direction: column;
  padding-top: 20px;
}
#contact-container {
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 10px 10px;
}
.logo-container {
  display: flex;
  min-width: 15%;
  max-width: 150px;
  justify-content: center;
  align-items: center;
}
.logo-container p {
  text-align: center;
}

footer {
  width: 100%;
  padding: 20px 0;
  display: flex;
  justify-content: space-evenly;
}
footer p {
  padding: 5px 10px;
  margin: 0px 30px;
}

/*Style untuk sidebar*/
.sidebar {
  text-align: center;
  position: fixed;
  right: -330px;
  top: 10vh;
  transition: all 0.75s ease-in-out;
  display: flex;
  flex-direction: row;
  align-items: center;
}

/*toggle sidebar*/
#side-button {
  width: 32px;
  max-width: 32px;
  overflow: hidden;
  position: sticky;
  right: 250px;
  height: 32px;
  margin-right: 10px;
}

#menu-label {
  position: relative;
  display: block;
  height: 20px;
  cursor: pointer;
}

#menu-checkbox {
  display: none;
}

.arrow {
  position: absolute;
  width: 27px;
  top: 5px;
  left: 0;
  height: 4px;
  background-color: black;
  transform: rotate(-45deg);
  transition: all 0.8s ease-in-out;
}
.arrow1 {
  position: absolute;
  width: 27px;
  top: 23px;
  left: 0;
  height: 4px;
  background-color: black;
  transform: rotate(45deg);
  transition: all 0.8s ease-in-out;
}
/*ketika di klik maka arrow akan berputar*/
.rotate {
  transform: rotate(45deg);
}

.rotate1 {
  transform: rotate(-45deg);
}

/*ketika di klik maka side bar akan hilang atau muncul*/
.show {
  right: 15px;
}

/*style untuk biodata diri*/
#biodata-diri {
  background: rgba(0, 0, 0, 0.31);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(8.2px);
  -webkit-backdrop-filter: blur(8.2px);
  height: 80vh;
  width: 320px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 40px;
  font-size: 1.125rem;
  font-weight: 500;
}

/*style untuk foto profile*/
.photo-profile {
  clip-path: circle();
  width: 130px;
}
/*========HAMBURGER MENU=======*/
.menu-toggle {
  display: none;
  flex-direction: column;
  height: 20px;
  justify-content: space-between;
  position: relative;
  margin-right: 20px;
}

.menu-toggle input {
  position: absolute;
  width: 40px;
  height: 28px;
  opacity: 0;
  left: -5px;
  top: -3px;
  cursor: pointer;
}

.menu-toggle span {
  display: block;
  width: 28px;
  height: 3px;
  background-color: black;
  transition: all 0.8s ease-in-out;
}
/*=======media query=======*/

/*=======layar mobile=======*/
@media screen and (max-width: 768px) {
  .sidebar.active {
    right: -100%;
  }
  .menu-toggle {
    display: flex;
  }

  .nav-kanan {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.31);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9px);
    -webkit-backdrop-filter: blur(8.2px);
    top: -100%;
    transition: all 0.8s ease-in-out;
  }

  .nav-link {
    padding: 16px;
    font-family: "Poppins", sans-serif;
    font-size: 1.125rem;
    line-height: 1.4em;
    font-weight: 500;
    position: relative;
    display: inline-block;
    vertical-align: top;
    text-decoration: none;
    color: #222;
    padding: 20px;
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    color: black;
  }
  .nav-kanan.active {
    top: 0;
  }
  /*=======Hamburger menu animation=======*/
  .menu-toggle.active .bar:nth-child(3) {
    transform: scale(0);
    opacity: 0;
  }
  .menu-toggle.active .bar:nth-child(2) {
    transform: translateY(8px) rotate(45deg);
  }
  .menu-toggle.active .bar:nth-child(4) {
    transform: translateY(-8px) rotate(-45deg);
  }

  .logo-container {
    flex-direction: column;
  }

  #contact-container {
    gap: 20px;
  }

  footer,
  #contact-container {
    flex-wrap: wrap;
    flex-direction: column;
  }
  footer p {
    padding: 5px 10px;
    margin: auto;
    text-align: center;
  }
}
